__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
build/
dist/

checkpoints/
data/
datasets/
docs/paper_eval_records/
eval_history/
legacy/
logs/
outputs/
tmp/
wandb/
weights/
weights_symlink_backup

SoM/
_notebooks/
notebooks/

*.ckpt
*.onnx
*.pt
*.pth
*.pyc
*.tif

*.json
*.code-workspace
tmp.py

gsamllavanav/fonts/
